@import '../../../../../stylus/_colors.styl';

.table
  width: -webkit-fill-available;
  border: thin solid color-tertiary-tint;
  box-shadow: 0 0 0.5em color-medium-shade;
  border-radius: 20px
  padding: 1em;
  margin: 1em;

  table
    min-width 100%
    border-style hidden
    border-collapse collapse
    text-align: center

    thead
      background-color: color-medium
      text-align: center

    th
      border-bottom: solid 1px color-tertiary-tint
      color: color-medium-contrast
      padding: 10px

      &:first-child
        border-radius: 15px 0px 0px 15px
        text-align: left !important

      &:last-child
        border-radius: 0px 15px 15px 0px


    tbody
      tr
        padding-top: 15px;
        padding-bottom: 15px;

        td
          padding-top: 10px
          padding-bottom: 10px
          border-bottom: solid 1px color-tertiary-tint
