.table-border{
  border: thin solid color-tertiary-tint;
  box-shadow: 0 0 0.5em color-medium-shade
  border-radius: 20px !important
  padding: 1em;
  margin: 1em;

}

.table-border .table-row{
    margin-right: 2px;
}
