
<ng-container *ngIf="!reloading">
  <div class="table">
    <table>
      <thead>
        <th>Nome</th>
        <th>Idade</th>
        <th>Trabalho</th>
        <th>E-mail</th>
        <th>Telefone</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUpdated">
          <td>{{ user?.name }}</td>
          <td>{{ user?.birthday }}</td>
          <td>{{ user?.job }}</td>
          <td>{{ user?.email }}</td>
          <td>{{ user?.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
