<form class="card" action="" [formGroup]="userForm">
  <div class="row">
    <div class="col-xl-5 col-md-6">
      <label for="">Nome</label>
      <input type="text" placeholder="Seu Nome" formControlName="name">
      <small class="text-danger" appMensagensErrosForms [control]="userForm.get('name')"></small>

    </div>
    <div class="col-xl-4 col-md-6">
      <label for="">Idade</label>
      <input type="number" formControlName="birthday" (input)=checkValue($event)>
      <small class="text-danger" appMensagensErrosForms [control]="userForm.get('birthday')"></small>
    </div>

    <div class="col-xl-3 col-md-6">
      <label for="">Sexo</label>
      <select formControlName="sexo">
        <option disabled selected>Sexo</option>
        <option value="F">Feminino</option>
        <option value="M">Masculino</option>
        <option value="O">Outro</option>
        <option value="N">Prefiro Não Informar</option>
      </select>
      <small class="text-danger" appMensagensErrosForms [control]="userForm.get('sexo')"></small>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-md-6">
      <label for="">E-mail</label>
      <input type="email" placeholder="Seu E-mail"  formControlName="email">
      <small class="text-danger" appMensagensErrosForms [control]="userForm.get('email')"></small>

    </div>
    <div class="col-xl-4 col-md-6">
      <label for="">Telefone</label>
      <input type="text" placeholder="Seu Telefone" formControlName="phone">
      <small class="text-danger" appMensagensErrosForms [control]="userForm.get('phone')"></small>

    </div>
    <div class="col-xl-3 col-md-6">
      <label for="">Trabalho</label>
      <input type="text" placeholder="Qual Seu trabalho" formControlName="job">
      <small class="text-danger" appMensagensErrosForms [control]="userForm.get('job')"></small>

    </div>
  </div>
  <div class="row justify-content-center">
    <button [disabled]="!userForm.valid && !validSex" class="btn save" (click)="save()">Save</button>
  </div>
</form>
