<form class="card-main" action="" [formGroup]="userForm">
  <div class="row">
    <div class="col-xl-5 col-md-6">
      <label for="">Nome</label>
      <input type="text" placeholder="Seu Nome" formControlName="name">
    </div>
    <div class="col-xl-4 col-md-6">
      <label for="">Data de Nascimento</label>
      <input type="date" formControlName="birthday">
    </div>
    <div class="col-xl-3 col-md-6">
      <label for="">Sexo</label>
      <select name="sexo" id="" formControlName="sexo">
        <option value="F">Feminino</option>
        <option value="M">Masculino</option>
        <option value="O">Outro</option>
        <option value="N">Prefiro Não Informar</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-md-6">
      <label for="">E-mail</label>
      <input type="email" placeholder="Seu E-mail"  formControlName="email">
    </div>
    <div class="col-xl-4 col-md-6">
      <label for="">Telefone</label>
      <input type="text" placeholder="Seu Telefone" formControlName="phone">
    </div>
    <div class="col-xl-3 col-md-6">
      <label for="">Endereço</label>
      <input type="text" placeholder="Seu Endereço" formControlName="address">
    </div>
  </div>
  <div class="row justify-content-center">
    <button class="btn save" (click)="save()">Save</button>
  </div>
</form>
